<div class="board" *ngIf="forecast" [@enter]="'in'">
  <div class="flex centered" *ngIf="forecast.current as fc">
    <div class="separated-block main-info">
      <div class="icon-block">
        <img class="icon" src="{{imgSrc.API_IMG_LOC + fc.weather.attr.icon}}@2x.png"/>
        <p>{{fc.weather.attr.value}}</p>
      </div>
      <div class="flex-column temperature-block">
        <div class="flex space-between">
          <div>{{fc.temperature.attr.min | temperature:unit}}</div>
          <div>{{fc.temperature.attr.max | temperature:unit}}</div>
        </div>
        <div class="main-temp">
          {{fc.temperature.attr.value | temperature:unit}}
        </div>
        <div>
          {{"FEELS LIKE" | translate}} {{fc.feels_like.attr.value | temperature:unit}}
        </div>
      </div>
    </div>
    <div class="separated-block info-block">
      <div class="flex-column">
        <div>{{"VISIBILITY" | translate | titlecase}}:</div>
        <div>{{"PRESSURE" | translate | titlecase}}:</div>
        <div>{{"HUMIDITY" | translate | titlecase}}:</div>
      </div>
      <div class="flex-column">
        <div>{{fc.visibility.attr.value | mkm }} {{'KM' | translate}}</div>
        <div>{{fc.pressure.attr.value | pressure}} {{'MBAR' | translate}}</div>
        <div>{{fc.humidity.attr.value}}{{fc.humidity.attr.unit}}</div>
      </div>
    </div>
    <div class="separated-block text-centered">
      <div class="flex flex-column centered">
        <p class="header">{{"WIND" | translate | titlecase}}</p>
        <img class="small-icon" src="../../../../assets/images/wind.png"
             [style.transform]="'rotate('+fc.wind.direction.attr.value+'deg)'">
        <p
          class="medium">{{fc.wind.speed.attr.value | speed: unit}}
          {{(unit == "imperial" ? "MH" : "KMH") | translate}}
        </p>
        <p>{{fc.wind.direction.attr.code | uppercase}}</p>
      </div>
    </div>
    <div class="separated-block">
      <div>
        <p class="header">{{"PRECIPITATIONS" | translate | titlecase}}</p>
        <div class="flex info-block" *ngIf="fc.precipitation as pr">
          <div class="flex-column">
            <div>{{"TYPE" | translate | titlecase}}:</div>
            <div *ngIf="pr.attr.mode != 'no'">{{"VOLUME" | translate | titlecase}}:</div>
          </div>
          <div class="flex-column">
            <div [ngSwitch]="pr.attr.mode">
              <div *ngSwitchCase="'no'">{{"NO" | translate}}</div>
              <div *ngSwitchCase="'rain'">{{"RAIN" | translate}}</div>
              <div *ngSwitchCase="'snow'">{{"SNOW" | translate}}</div>
            </div>
            <div *ngIf="pr.attr.mode != 'no'">{{pr.attr.value.concat('mm')}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex centered background-image" [ngSwitch]="forecast.current.precipitation.attr.mode">
    <img *ngSwitchCase="'no'" src="../../../../assets/images/background-slideshow/no.png">
    <img *ngSwitchCase="'rain'" src="../../../../assets/images/background-slideshow/rain.png">
    <img *ngSwitchCase="'snow'" src="../../../../assets/images/background-slideshow/snow.png">
  </div>
</div>
