<mat-form-field>
  <mat-select [(ngModel)]="selectedValue" placeholder="{{elementName| titlecase}}" #singleSelect>
    <mat-option>
      <ngx-mat-select-search placeholderLabel="Find {{elementName}}..." noEntriesFoundLabel="No matches"
                             [formControl]="filterCtrl"></ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let el of filteredElements | async" [value]="el" (click)="selectValue(selectedValue)">
      {{el.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
