$blue:#3891C2;

.flex {
  display: flex;
}

.space-between{
  justify-content: space-between;
}
.weather-panel {
  align-items: center;
  justify-content: center;
}

.separated-block {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #E5E5E5;
}

.column {
  flex-direction: column;
}

.main-info {
  font-size: 11px;
  align-items: center;
  text-transform: uppercase;
  font-variant: small-caps;
  text-align: center;
}

.main-temp {
  margin-bottom: 10px;
  font-size: 40px;
  color: $blue;
}

img {
}

.temperature-block{
  width: 100px;
}
.info-block {
  color: rgba(0, 0, 0, 0.54);
  div{
    font-size: 15px;
    font-family: monospace;
  }
  div:first-child{
    margin-right: 10px;
  }
}

.icon-block {
  margin-right: 20px;
}

.header{
  font-family: monospace;
  font-size: 20px;
  color: $blue;
}
